.container{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2%;
  

}
 .single-movie{
    position: absolute;
    border: 2px ;
    margin-bottom: 15%;
    justify-content: center;
    

} 
 .single-content{
    background-color: white;
} 
/* .container img{
    width: 30%;
}  */
